In [44]:
import tensorflow as tf
import tensorflow.feature_column as fc
import matplotlib.pyplot as plt
import os
import sys
from IPython.display import clear_output
tf.enable_eager_execution()

In [45]:
model_path = os.path.join('/home/subaochen/git/','models')
print(model_path)
sys.path.append(model_path)
print(sys.path)

/home/subaochen/git/models
['/home/subaochen/git/blog/src/ai', '/home/subaochen/anaconda3/envs/tf1/lib/python37.zip', '/home/subaochen/anaconda3/envs/tf1/lib/python3.7', '/home/subaochen/anaconda3/envs/tf1/lib/python3.7/lib-dynload', '', '/home/subaochen/anaconda3/envs/tf1/lib/python3.7/site-packages', '/home/subaochen/anaconda3/envs/tf1/lib/python3.7/site-packages/IPython/extensions', '/home/subaochen/.ipython', '/home/subaochen/git/models', '/home/subaochen/git/models', '/home/subaochen/git/models', '/home/subaochen/git/models']

In [46]:
from official.wide_deep import census_dataset
from official.wide_deep import census_main
census_dataset.download('/tmp/census_data')

In [47]:
train_file = "/tmp/census_data/adult.data"
test_file = "/tmp/census_data/adult.test"
#/tmp/census_data/adult.data

In [48]:
import pandas
train_df = pandas.read_csv(train_file, header = None, names = census_dataset._CSV_COLUMNS)
test_df = pandas.read_csv(test_file, header = None, names = census_dataset._CSV_COLUMNS)
train_df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
def easy_input_function(df, label_key, num_epochs, shuffle, batch_size):
  label = df[label_key]
  ds = tf.data.Dataset.from_tensor_slices((dict(df),label))

  if shuffle:
    ds = ds.shuffle(10000)

  ds = ds.batch(batch_size).repeat(num_epochs)

  return ds

In [ ]:
ds = easy_input_function(train_df, label_key='income_bracket', num_epochs=5, shuffle=True, batch_size=10)
print(ds)

for feature_batch, label_batch in ds.take(1):
  print('Some feature keys:', list(feature_batch.keys())[:5])
  print()
  print('A batch of Ages  :', feature_batch['age'])
  print()
  print('A batch of Labels:', label_batch )